.article-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5%; /* Ajustado para melhor layout */
}

.article-container {
  width: 80%;
  max-width: 1000px;
  background: #333;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.article-image {
  width: 100%;           /* A imagem ocupará 100% da largura do contêiner */
  max-width: 600px;      /* Define a largura máxima */
  height: auto;          /* Mantém a proporção da imagem */
  border-radius: 8px;    /* Borda arredondada */
  margin: 20px 0;        /* Espaçamento vertical em torno da imagem */
  object-fit: contain;   /* Garante que a imagem não seja cortada */
}


.article-title {
  margin-top: 10px;
  color: #ccc;
}

.ai-features {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ai-features input {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #444;
  color: #fff;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #76ABAE;
  color: #31363F;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #5e8e91;
}

